@model Lab11.Models.Experience

@{
  Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h3>Create Experience</h3>

<hr />
<div class="row">
  <div class="col-md-4">
      <form asp-action="CreateExperience">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="form-group">
              <label asp-for="JobTitle" class="control-label"></label>
              <input asp-for="JobTitle" class="form-control" />
              <span asp-validation-for="JobTitle" class="text-danger"></span>
          </div>
          <br>
          <div class="form-group">
              <label asp-for="Location" class="control-label"></label>
              <input asp-for="Location" class="form-control" />
              <span asp-validation-for="Location" class="text-danger"></span>
          </div>
          <br>
          <div class="form-group">
              <label asp-for="StartDate" class="control-label"></label>
              <input asp-for="StartDate" class="form-control" />
              <span asp-validation-for="StartDate" class="text-danger"></span>
          </div>
          <br>
          <div class="form-group">
              <label asp-for="EndDate" class="control-label"></label>
              <input asp-for="EndDate" class="form-control" />
              <span asp-validation-for="EndDate" class="text-danger"></span>
          </div>
          <br>
          <div class="form-group">
              <label asp-for="Description" class="control-label"></label>
              <input asp-for="Description" class="form-control" />
              <span asp-validation-for="Description" class="text-danger"></span>
          </div>
          <br>
          <div class="form-group">
              <input type="submit" value="Create" class="btn btn-primary" />
          </div>
      </form>
  </div>
</div>

<hr />
<br>
<div>
  <a asp-action="Experiences">Back to Experiences List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
