@page

@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h4>Here are some links to help you quickly navigate the data on this web application:</h4>
<p>
    <a asp-action="Experiences">Experiences</a>
</p>
<p>
    <a asp-action="Educations">Educations</a>
</p>
<p>
    <a asp-action="Projects">Projects</a>
</p>
<p>
    <a asp-action="Companies">Companies</a>
</p>


