@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>About Me</h2>
<p>Hi There! My name is Devin Upreti and I am student at Syracuse University. I am currently in my
    last semester. Apart from my classes, I am also doing research work on the sentiments of users in
    social network websites. For the analysis we look at data from websites like Twitter to see 
    how positive user posts are over a period of time and use those metrics to evaluate the overall
    emotion of a user in that social network.
    <br><br>
    I am graduating in May 2019 and am planning to get some industry work experience after that. If you 
    are a recruiter then you can send me requests through this website. 
    <br><br>
    </p>