@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Contact Info</h2>
<p>
    You can send me an email at devinupreti11@gmail.com or connect with me on my other social media
    profiles (find links in the sidebar).
    <br><br>
    Or can mail me at the following address :
    <center>1108 E Genesee St Apt 102</center>
    <center>Syracuse, New York<br></center>
    <center>13210 USA<br></center>
</p>
