@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h3>Welcome to my personal website!</h3>
<p> The purpose of this web is to provide information about me, both personal and professional, to anyone who is 
    curious enough. If you are a authorized recruiter then you might want to head to the login page.
    Else if you are a recruiter who would to be authorized for this website then you can submit a request for authorization
    using register in the nav bar. <br> <br> For everybody else, please find the links to different sections of website through the navigation bars. 
    I have also included links to my profiles in other web networks. A good starting point is the <a asp-area="" asp-controller="Home" asp-action="About">about me</a> section.</p>