@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Personal Info</h2>
<center>
    <figure>
        <img src="~/files/child.jpg" alt="childhood image" width="200" height="250">
        <figcaption>Me</figcaption>
    </figure>
</center>

<p>
    I was born in Lucknow, which is a city in the northern part of India. Very early in childhood, my
    family relocated to a hill station called Nainital, which is in the mountainous region of the Himalayas. When I was in 5th grade
    I moved to a boarding school called Birla Vidya Mandir (BVM).
</p>

<center>
    <figure>
        <img src="~/files/bvm.jpg" alt="bvm image" width="400" height="200">
        <figcaption>My hostel in Nainital</figcaption>
    </figure>
</center>

<p>
    I stayed in BVM for 6 years and made many friends there. While I was in BVM, I developed
    an interest in soccer and played for my school team in inter-school tournaments. Also, I participated in
    debates and theater events. Then in 10th grade, I moved to Delhi Public School in Noida from where I completed my
    high school. After that I took admission in Amity University in Noida. I took Computer Science as my major 
    because I always loved video games and wanted to learn more about how they are developed. But pretty soon I
    realised that Computer Science was much more than just making games or applications.  
</p>
<br>

<center>
    <figure>
        <img src="~/files/foot.jpg" alt="football" width="200" height="250">
        <figcaption>Me playing football</figcaption>
    </figure>
</center>

<p>
    Syracuse University was my next destination as I came here to pursue my Masters in Computer Science. Moving from India to
    USA at first was challenging at first as there is a lot of difference in how things operate in the two countries. But with 
    time, I adapted. Overall, I learnt a lot after coming to Syracuse and grew not only professionally but also in personal 
    aspects. My journey at Syracuse will come to an end in May 2019 and then a new chapter will begin.
</p>
<br>


