@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Privacy Policy</h2>
<p>
    Please do not use the code and diagrams listed in the projects section for your academic submissions.
    If you use any code in these repository for submission to assignments or projects, then you are violating
    Academic Integrity.
</p>