@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Professional Info</h2>
<br>
<p><a asp-area="" asp-controller="Data" asp-action="Educations">Education</a></p>
<p>
    <strong>Undergradute : BTech Computer Science from Amity University</strong><br>
    2013-2017
</p>
<p>
    <strong>Graduate : MS Computer Science from Syracuse University</strong><br>
    2017-2019
</p>

<p>You can find a summary of projects at this link :<a asp-area="" asp-controller="Data" asp-action="Projects">Projects</a></p>
<br>

<p><a asp-area="" asp-controller="Data" asp-action="Experiences">Experiences</a></p>
<p>
    <strong>Researcher at Data Lab</strong><br>
    Nov 2018 - Present | Syracuse University<br>
    • Analyzed over 90 million data points to generate insights about the emotional well-being of users on social media platforms<br>
    • Established the emotion of a user on a social network by calculating a Social Well Being score using the posts the user had made<br>
    • Used SWB scores to detect patterns in the social network consisting of positive friends and negative friends
</p>
<p>
    <strong>Data Scientist Intern</strong><br>
    May 2018 - Aug 2018 | Greater Milwaukee Area<br>
    • Implemented Data Analysis and Statistical Modeling to aid in the optimization of energy consumption of multinational organizations<br>
    • Developed automated cluster mapping system using Python and Javascript to improve and enhance user-facing dashboards<br>
    • Created Data Visualizations to communicate extracted insights regarding energy optimization to clients. Applied Linear Regression for Interpolation and other data filling methods for filling missing data values
</p>
<br>
<p>
    <strong>Career Preferences</strong><br>
    My interests include Data Science and Machine Learning. I have also explored a little bit of Neural Networks and Computer Vision.<br>
    I am looking for roles in software engineering with an emphasis on dealing with data. 
</p>
<br>